@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  h5 {
    @apply font-bold text-lg
  }

  .small-text {
    @apply text-sm
  }

  .card {
    @apply rounded-20 shadow-lg
  }
}

.cl-navbar,
.cl-navbar [class^="cl-internal"] {
  background: #fffdf7;
}

.cl-footer [class^="cl-internal"] * {
  background: #F7F7F7;
}

.cl-navbarButton[data-active="true"] {
  font-weight: 600;
  border-radius: 20px;
}

.cl-navbarButton:hover{
  border-radius: 20px;
}
.cl-input {
  border: 0.5px solid #818181;
}
.cl-input:focus-within{
  box-shadow: none !important;
  border: 0.5px solid #818181;
}

.cl-formButtonReset,
.cl-profileSectionPrimaryButton,
.cl-menuButton,
.cl-avatarImageActionsUpload,
.cl-avatarImageActionsRemove,
.cl-formButtonPrimary, .cl-input {
  border-radius: 20px;
  padding: 10px 17px;
}
.cl-formButtonPrimary{
  background-color: #EF2D56;
  color: white;
  border: none;
  box-shadow: none !important;
  width: auto;
}
.cl-formButtonPrimary:hover{
  background-color: #031926 !important;
}

.cl-formFieldLabel{
  color: #031926
}
.cl-formButtonPrimary:disabled{
  opacity: 0.4;
  box-shadow: none;
}
.cl-profileSectionPrimaryButton,
.cl-menuButton {
  color: #8cd867;
}
.cl-profileSectionPrimaryButton:hover,
.cl-menuButton:hover {
  color: #8cd867;
}
.cl-avatarImageActionsUpload {
  background-color: #8cd867;
  color: white;
}
.cl-avatarImageActionsUpload:hover {
  background-color: #8cd867;
  color: white;
  opacity: 0.9;
}

.cl-badge {
  border: #0091ad 1px solid;
  border-radius: 12px;
  background: none;
}

.cl-menuButton[aria-label="Open menu"], .cl-menuButton[aria-label="Close menu"] {
  border: #8cd867 1.5px solid;
  border-radius: 100%;
  padding: 4px;
}

.cl-profileSectionPrimaryButton__danger, .cl-profileSectionPrimaryButton__danger:hover{
  color: #EF4444;
}

.cl-menuList, .cl-cardBox, .cl-signUp-start{
  border-radius: 20px;
}

